
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    /* border:1px solid red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header formatting */
h2{
    font-size: 40px;
    padding: 0px 5px;
    background-color: aliceblue;
    border:2px dashed black;
}

/* spaces between sections */
section{
    padding:40px 10px;
}

/* main header color */
.main-header {
    padding:30px;
    background-color: lightblue;
}

.main-header h1{
    display: inline-block;
    font-size: 50px;
}

.main-header nav {
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

.main-header nav ul{
    display: flex;
    list-style-type: none;
}

.main-header nav ul li{
    display: inline-block;
    padding: 0px 10px;
}

/* centers the text for the project headers */
.project-header{
    text-align: center;
}

/* holds the recent project */
.recent-project-container{
    display: flex;
    justify-content: center;
}

.recent-project-card{
    border: solid 3px black;
    border-radius: 5px;
    padding: 0 10px;
    margin: 4% 10% 4% 10%;
    max-width: 70vw;
}

/* displays the most recent project in the largest icon */
.recent-project-img{
    width: 100%;
    min-width: 400px;
} 

/* holds the older projects */
.older-project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.older-project-card{
    border: solid 3px black;
    border-radius: 5px;
    padding: 0 10px;
    margin: 30px 15px;
    box-shadow: 10px 10px rgb(80, 73, 73);
}

.older-project-img{
    max-width: 400px;
}

.project-header {
    border: solid 2px blue;
    border-radius: 5px;
    position: relative;
    margin-top: -20px;
    background-color: pink;
    padding-left: 5px;
    font-size: 30px;
}

.contact-me h2{
    display: inline-block;
}

.contact-info{
    font-size: 20px;
}

.contact-me nav ul{
    display: flex;
}

.contact-info li{
    list-style-type: none;
    padding: 0px 30px;
    display: inline-block;
    margin-right: 20px;
}

#about-me{
    display: flex;
    flex-direction: column;
}

/*resizes profile pic*/
#profile-pic{
    margin-top: 15px;
    width:200px;
    height:200px;
    border-radius: 10px;
}

/* tablet, desktop styles */
@media screen and (min-width: 650px) {
    .snippet-card{
        flex: 1 0 250px;
    }

    /* creates a separator in the about me section  */
    #separator{
        background-color: rgb(73, 73, 73);
        width:8px;
        height: 220px;
        position: relative;
        margin-left: 230px;
        margin-top: -210px;
    }

    /* brings text to the right of separator */
    #about-me p{
        font-size: 18px;
        margin-left: 270px;
        margin-top: -200px;
    }
} 
